.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chip {
  height: 2.4vw;
  width: 2.4vw;
  border-radius: 100%;
  background-color: pink;
  box-sizing: border-box;
}

.chipArea {
  height: 8vw;
  width: 15vw;
  background-color: skyblue;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#left,
#right {
  height: 16vw;
  width: 10vw;
  background-color: black;
}
